body{
  background-color: #fff;
  color: #000;
  text-align: center;
  
  }
#search{
  width: 300px;
  float: inline-start;
}
.navbar-brabd{
  font-family: 'Grand Hotel', cursive;
}
#reg{
 width:400px;
 height: 700px;
 padding: 10px;
}
.phone{
  width: 400px;
  height: 700px;
  padding: 10px;
 

}