body{
  background-color: #fff;
  color: #000;
  text-align: center;
  
  }
#search{
  width: 300px;
  float: inline-start;
}
.navbar-brabd{
  font-family: 'Grand Hotel', cursive;
}
#reg{
 width:400px;
 height: 700px;
 padding: 10px;
}
.phone{
  width: 400px;
  height: 700px;
  padding: 10px;

}
body{
  background-color: #ffdd71;
  color:#ffdd71;
}
.pt-3{
  margin-top: 10px;
}
h1{
  color: black;
}
#futa {
  clear: both;
  position: relative;
  height: 100px;
  margin-top: -200px;
}
h2{
  color: black;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}