<link rel="icon" href='https://cdn-images-1.medium.com/max/1200/1*VpavtRh-UsRzTpn3lnDXiQ.jpeg' type="icon/images">
{%extends 'base.html'%}
{% block content %}
{{ block.super }}
<div class="container">
    {% for posts_item in posts%}
    <div class=row>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>{{ posts_item.name }}</p>
            <img src="{{ posts_item.image.url }}" width="600px" alt="Image" />
        </div>
        <br><br><br><br><br>
        <p>{{ posts_item.profile }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}